<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{web/mainLayout}">
<head>
<meta charset="UTF-8">
<!-- - $LAYOUT_TITLE -->
<title layout:title-pattern="$CONTENT_TITLE">Thể Loại</title>
</head>
<body>
	<main layout:fragment="content">
		<!-- Whats New Start -->
		<section class="whats-news-area pt-50 pb-20">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="row d-flex justify-content-between">
							<div class="col-lg-3 col-md-3">
								<div class="section-tittle mb-30">
									<h3>Xem Gì</h3>
								</div>
							</div>
							<div class="col-lg-9 col-md-9">
								<div class="properties__button">
									<!--Nav Button  -->
									<nav>
										<div class="nav nav-tabs" id="nav-tab" role="tablist">
											<a class="nav-item nav-link" id="nav-profile-tab"
												th:href="@{'/the-loai?the-loai=' + ${category.id}}"
												th:each="category : ${categoryList}"
												th:text="${category.title}"
												th:classappend="${#strings.equals(#httpServletRequest.getParameter('the-loai'), #strings.toString(category.id))}? active  : ''"></a>
										</div>
									</nav>
									<!--End Nav Button  -->
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<!-- Nav Card -->
								<div class="tab-content" id="nav-tabContent">
									<!-- card one -->
									<div class="tab-pane fade show active" id="nav-home"
										role="tabpanel" aria-labelledby="nav-home-tab">
										<div class="whats-news-caption">
											<div class="row">
												<div class="col-lg-6 col-md-6"
													th:each="post:${postCategory}">
													<div class="single-what-news mb-100">
														<div class="what-img">
															<img th:src="${post.avatar}" alt=""
																style="height: 344px; object-fit: cover" />
														</div>
														<div class="what-cap">
															<span class="color1" th:text="${post.category}"></span>
															<h4>
																<a th:href="@{'/bai-viet/' + ${post.slug}}"
																	th:text="${#strings.abbreviate(post.title,60)}"></a>
															</h4>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
								<!-- End Nav Card -->
							</div>
						</div>
					</div>
					<div class="col-lg-4">
						<!-- Section Tittle -->
						<div class="section-tittle mb-40">
							<h3>Theo Dõi Tôi</h3>
						</div>
						<!-- Flow Socail -->
						<div class="single-follow mb-45">
							<div class="single-box">
								<div class="follow-us d-flex align-items-center">
									<div class="follow-social">
										<a href="#"><img src="web/img/news/icon-fb.png" alt=""></a>
									</div>
									<div class="follow-count">
										<span>8,045</span>
										<p>Fans</p>
									</div>
								</div>
								<div class="follow-us d-flex align-items-center">
									<div class="follow-social">
										<a href="#"><img src="web/img/news/icon-tw.png" alt=""></a>
									</div>
									<div class="follow-count">
										<span>8,045</span>
										<p>Fans</p>
									</div>
								</div>
								<div class="follow-us d-flex align-items-center">
									<div class="follow-social">
										<a href="#"><img src="web/img/news/icon-ins.png" alt=""></a>
									</div>
									<div class="follow-count">
										<span>8,045</span>
										<p>Fans</p>
									</div>
								</div>
								<div class="follow-us d-flex align-items-center">
									<div class="follow-social">
										<a href="#"><img src="web/img/news/icon-yo.png" alt=""></a>
									</div>
									<div class="follow-count">
										<span>8,045</span>
										<p>Fans</p>
									</div>
								</div>
							</div>
						</div>
						<!-- New Poster -->
						<div class="news-poster d-none d-lg-block">
							<img src="web/img/news/news_card.jpg" alt="">
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- Whats New End -->


	</main>
</body>
</html>