<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{web/mainLayout}"
>
  <head>
    <meta charset="UTF-8" />
    <!-- - $LAYOUT_TITLE -->
    <title layout:title-pattern="$CONTENT_TITLE">Trang Chủ</title>
  </head>
  <body>
    <main layout:fragment="content">
      <!-- Trending Area Start -->
      <div class="trending-area fix">
        <div class="container">
          <div class="trending-main">
            <div class="row">
              <div class="col-lg-8">
                <!-- Trending Top -->
                <div class="trending-top mb-30">
                  <div class="trend-top-img">
                    <img th:src="${postCount1Top.avatar}" alt="" />
                    <div class="trend-top-cap">
                      <span th:text="${postCount1Top.category}"></span>
                      <h2>
                        <a th:href="@{'/bai-viet/' + ${postCount1Top.slug}}"  th:text="${postCount1Top.title}">
                        </a>
                      </h2>
                    </div>
                  </div>
                </div>
                <!-- Trending Bottom -->
                <div class="trending-bottom">
                  <div class="row">
                    <div class="col-lg-4" th:each="post : ${postCount1Bottom}">
                      <div class="single-bottom mb-35">
                        <div class="trend-bottom-img mb-30">
                          <img th:src="${post.avatar}" alt="" style="height: 158px"/>
                        </div>
                        <div class="trend-bottom-cap">
                          <span
                            class="color1"
                            th:text="${post.category}"
                          ></span>
                          <h4>
                            <a th:href="@{'/bai-viet/' + ${post.slug}}" th:text="${#strings.abbreviate(post.title,50)}"
                              >Get the Illusion of Fuller Lashes by “Mascng.”</a
                            >
                          </h4>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Riht content -->
              <div class="col-lg-4">
                <div
                  class="trand-right-single d-flex"
                  th:each="post : ${postRightNew}"
                >
                  <div class="trand-right-img">
                    <img
                      th:src="${post.avatar}"
                      alt=""
                      style="width: 100px; height: 100px"
                    />
                  </div>
                  <div class="trand-right-cap">
                    <span class="color1" th:text="${post.category}"
                      >Concert</span
                    >
                    <h4>
                      <a th:href="@{'/bai-viet/' + ${post.slug}}" th:text="${#strings.abbreviate(post.title,60)}"
                        >Welcome To The Best Model Winner Contest</a
                      >
                    </h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Trending Area End -->
      <!--   Weekly-News start -->
      <div class="weekly-news-area pt-50">
        <div class="container">
          <div class="weekly-wrapper">
            <!-- section Tittle -->
            <div class="row">
              <div class="col-lg-12">
                <div class="section-tittle mb-30">
                  <h3>Tin Mới Nhất</h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="weekly-news-active dot-style d-flex dot-style">
                  <div class="weekly-single" th:each="post : ${postAllNew}">
                    <div class="weekly-img">
                      <img
                        th:src="${post.avatar}"
                        alt=""
                        style="height: 320px; object-fit: cover"
                      />
                    </div>
                    <div class="weekly-caption">
                      <span class="color1" th:text="${post.category}"
                        >Strike</span
                      >
                      <h4>
                        <a th:href="@{'/bai-viet/' + ${post.slug}}" th:text="${#strings.abbreviate(post.title,60)}"
                          >Welcome To The Best Model Winner Contest</a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Weekly-News -->
      <!--   Weekly2-News start -->
      <div class="weekly2-news-area weekly2-pading gray-bg">
        <div class="container">
          <div class="weekly2-wrapper">
            <!-- section Tittle -->
            <div class="row">
              <div class="col-lg-12">
                <div class="section-tittle mb-30">
                  <h3>Top Bài Viết</h3>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="weekly2-news-active dot-style d-flex dot-style">
                  <div class="weekly2-single" th:each="post : ${postTop}">
                    <div class="weekly2-img">
                      <img
                        th:src="${post.avatar}"
                        alt=""
                        style="height: 175px"
                      />
                    </div>
                    <div class="weekly2-caption">
                      <span class="color1" th:text="${post.category}"
                        >Corporate</span
                      >
                      <p
                        th:text="${#dates.format(post.createAt, 'dd-MM-yyyy')}"
                      >
                        25 Jan 2020
                      </p>
                      <h4>
                        <a th:href="@{'/bai-viet/' + ${post.slug}}" th:text="${#strings.abbreviate(post.title,60)}"
                          ></a
                        >
                      </h4>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Weekly-News -->
      <!-- Whats New Start -->
      <section class="whats-news-area pt-50 pb-20">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="row d-flex justify-content-between">
                <div class="col-lg-3 col-md-3">
                  <div class="section-tittle mb-30">
                    <h3>Xem Gì?</h3>
                  </div>
                </div>
                <div class="col-lg-9 col-md-9">
                  <div class="properties__button">
                    <!--Nav Button  -->
                    <nav>
                      <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a
                          class="nav-item nav-link"
                          id="nav-profile-tab"
                          th:href="@{'/trang-chu?the-loai=' + ${category.id}}"
                          th:each="category : ${categoryList}"
                          th:text="${category.title}"
                          th:classappend="${#strings.equals(#httpServletRequest.getParameter('the-loai'), #strings.toString(category.id))}? active  : ''"
                          ></a>
                      </div>
                    </nav>
                    <!--End Nav Button  -->
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <!-- Nav Card -->
                  <div class="tab-content" id="nav-tabContent">
                    <!-- card one -->
                    <div
                      class="tab-pane fade show active"
                      id="nav-home"
                      role="tabpanel"
                      aria-labelledby="nav-home-tab"
                    >
                      <div class="whats-news-caption">
                        <div class="row">
                          <div class="col-lg-6 col-md-6" th:each="post:${postCategory}">
                            <div class="single-what-news mb-100">
                              <div class="what-img">
                                <img 
                                	th:src="${post.avatar}"
                   					alt=""
                        			style="height: 344px; object-fit:cover" />
                              </div>
                              <div class="what-cap">
                                <span class="color1" th:text="${post.category}"></span>
                                <h4>
                                  <a th:href="@{'/bai-viet/' + ${post.slug}}" th:text="${#strings.abbreviate(post.title,60)}"></a>
                                </h4>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    
                  </div>
                  <!-- End Nav Card -->
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <!-- Section Tittle -->
              <div class="section-tittle mb-40">
                <h3>Theo Dõi Tôi</h3>
              </div>
              <!-- Flow Socail -->
              <div class="single-follow mb-45">
                <div class="single-box">
                  <div class="follow-us d-flex align-items-center">
                    <div class="follow-social">
                      <a href="#"
                        ><img src="web/img/news/icon-fb.png" alt=""
                      /></a>
                    </div>
                    <div class="follow-count">
                      <span>8,045</span>
                      <p>Fans</p>
                    </div>
                  </div>
                  <div class="follow-us d-flex align-items-center">
                    <div class="follow-social">
                      <a href="#"
                        ><img src="web/img/news/icon-tw.png" alt=""
                      /></a>
                    </div>
                    <div class="follow-count">
                      <span>8,045</span>
                      <p>Fans</p>
                    </div>
                  </div>
                  <div class="follow-us d-flex align-items-center">
                    <div class="follow-social">
                      <a href="#"
                        ><img src="web/img/news/icon-ins.png" alt=""
                      /></a>
                    </div>
                    <div class="follow-count">
                      <span>8,045</span>
                      <p>Fans</p>
                    </div>
                  </div>
                  <div class="follow-us d-flex align-items-center">
                    <div class="follow-social">
                      <a href="#"
                        ><img src="web/img/news/icon-yo.png" alt=""
                      /></a>
                    </div>
                    <div class="follow-count">
                      <span>8,045</span>
                      <p>Fans</p>
                    </div>
                  </div>
                </div>
              </div>
              <!-- New Poster -->
              <div class="news-poster d-none d-lg-block">
                <img src="web/img/news/news_card.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Whats New End -->
    </main>
  </body>
</html>
