<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">

<!-- CSS here -->
<link rel="stylesheet" href="/web/css/bootstrap.min.css">
<link rel="stylesheet" href="/web/css/owl.carousel.min.css">
<link rel="stylesheet" href="/web/css/ticker-style.css">
<link rel="stylesheet" href="/web/css/flaticon.css">
<link rel="stylesheet" href="/web/css/slicknav.css">
<link rel="stylesheet" href="/web/css/animate.min.css">
<link rel="stylesheet" href="/web/css/magnific-popup.css">
<link rel="stylesheet" href="/web/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/web/css/themify-icons.css">
<link rel="stylesheet" href="/web/css/slick.css">
<link rel="stylesheet" href="/web/css/nice-select.css">
<link rel="stylesheet" href="/web/css/style.css">
</head>

<body>

	<div th:replace="web/fragments/header :: header"></div>
	<div layout:fragment="content"></div>
	<div th:replace="web/fragments/footer :: footer"></div>

	<!-- JS here -->

	<!-- All JS Custom Plugins Link Here here -->
	<script src="/web/js/vendor/modernizr-3.5.0.min.js"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script src="/web/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="/web/js/popper.min.js"></script>
	<script src="/web/js/bootstrap.min.js"></script>
	<!-- Jquery Mobile Menu -->
	<script src="/web/js/jquery.slicknav.min.js"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script src="/web/js/owl.carousel.min.js"></script>
	<script src="/web/js/slick.min.js"></script>
	<!-- Date Picker -->
	<script src="/web/js/gijgo.min.js"></script>
	<!-- One Page, Animated-HeadLin -->
	<script src="/web/js/wow.min.js"></script>
	<script src="/web/js/animated.headline.js"></script>
	<script src="/web/js/jquery.magnific-popup.js"></script>

	<!-- Breaking New Pluging -->
	<script src="/web/js/jquery.ticker.js"></script>
	<script src="/web/js/site.js"></script>

	<!-- Scrollup, nice-select, sticky -->
	<script src="/web/js/jquery.scrollUp.min.js"></script>
	<script src="/web/js/jquery.nice-select.min.js"></script>
	<script src="/web/js/jquery.sticky.js"></script>

	<!-- contact js -->
	<script src="/web/js/contact.js"></script>
	<script src="/web/js/jquery.form.js"></script>
	<script src="/web/js/jquery.validate.min.js"></script>
	<script src="/web/js/mail-script.js"></script>
	<script src="/web/js/jquery.ajaxchimp.min.js"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script src="/web/js/plugins.js"></script>
	<script src="/web/js/main.js"></script>

</body>
</html>