<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- - $LAYOUT_TITLE -->
<title>Đăng Nhập</title>

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" href="/auth/loginStyle.css">

</head>
<body>

	<section class="vh-100">
		<div class="container-fluid h-custom">
			<div
				class="row d-flex justify-content-center align-items-center h-100">

				<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
					<form action="/dang-ky" method="post" id="formRegister">

						<!-- Fullname input -->
						<div class="form-outline mb-4">
							<label class="form-label" for="form3Example3">Họ tên</label> <input
								type="text" id="form3Example3"
								class="form-control form-control-lg" name="fullname"
								placeholder="vd:thanhthien" />
						</div>

						<!-- Username input -->
						<div class="form-outline mb-4">
							<label class="form-label" for="form3Example3">Tên tài
								khoản</label> <input type="text" id="form3Example3"
								class="form-control form-control-lg" name="username"
								placeholder="vd:thanhthien" />
						</div>

						<!-- Email input -->
						<div class="form-outline mb-4">
							<label class="form-label" for="form3Example3">Email</label> <input
								type="text" id="form3Example3"
								class="form-control form-control-lg" name="email"
								placeholder="vd: abc123@gmail.com" />
						</div>

						<!-- Password input -->
						<div class="form-outline mb-3">
							<label class="form-label" for="password">Mật khẩu</label> <input
								type="password" name="password" id="password"
								class="form-control form-control-lg" placeholder="Nhập mật khẩu" />
						</div>

						<!-- Re-Password input -->
						<div class="form-outline mb-3">
							<label class="form-label" for="re-password">Nhập lại mật
								khẩu</label> <input type="password" name="re-password" id="re-password"
								class="form-control form-control-lg"
								placeholder="Nhập lại mật khẩu" />
						</div>

						<div class="d-flex justify-content-between align-items-center">
						</div>

						<div class="text-center text-lg-start mt-4 pt-2">
							<button type="submit" class="btn btn-primary btn-lg"
								style="padding-left: 2.5rem; padding-right: 2.5rem;">Đăng
								ký</button>
							<p class=" fw-bold mt-2 pt-1 mb-0">
								Đã có tài khoản? <a href="/dang-nhap" class="link-danger">Đăng
									nhập</a>
							</p>
						</div>

					</form>
				</div>

				<div class="col-md-9 col-lg-6 col-xl-5">
					<a href="/trang-chu"> <img
						src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
						class="img-fluid" alt="Sample image">
					</a>
				</div>
			</div>
		</div>

	</section>


	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>

	<script type="text/javascript">
		jQuery('.formRegister').validate({
			rules : {
				password : {
					minlength : 5,
				},
				password_confirm : {
					minlength : 5,
					equalTo : "#password"
				}
			}
		});
	</script>

</body>
</html>