<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
</head>
<body>
	<nav th:fragment="navigation"
		class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
		<div class="sb-sidenav-menu">
			<div class="nav">
				<div class="sb-sidenav-menu-heading">Core</div>
				<a class="nav-link" href="/admin/home">
					<div class="sb-nav-link-icon">
						<i class="fas fa-tachometer-alt"></i>
					</div> Dashboard
				</a> 
				<a class="nav-link" href="/admin/post">
					<div class="sb-nav-link-icon">
						<i class="fas fa-blog"></i>
					</div> Posts
				</a>
				<a class="nav-link" href="/admin/users">
					<div class="sb-nav-link-icon">
						<i class="fas fa-users"></i>
					</div> Users
				</a>
			</div>
		</div>
	</nav>
</body>
</html>